@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/img/JoelHiltonHeadshot.jpg" height="400" />
    <p>Enter movies in this <a asp-controller="Home" asp-action="MovieForm">form</a>!</p>

    <div>
        <a asp-controller="Home" asp-action="MovieList">See the Full List of Movies</a>
    </div>

</div>

