@{
    ViewData["Title"] = "Movie Form";
}

@model Mission5.Models.FormResponse
@*<h1>@ViewData["Title"]</h1>

<p>Use this page to list movies in a database.</p>*@
@*<div>
    <form method="post">
        <label asp-for="Category">Category:</label>
        <input asp-for="Category" /><br />

        <label asp-for="Title">Title:</label>
        <input asp-for="Title" /><br />

        <label asp-for="Year">Year:</label>
        <input asp-for="Year" /><br />

        <label asp-for="Director">Director:</label>
        <input asp-for="Director" /><br />

        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select><br />

        <label asp-for="Edited">Edited:</label>
        <select asp-for="Edited">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />

        <label asp-for="LentTo">Lent to:</label>
        <input asp-for="LentTo" /><br />

        <label asp-for="Notes">Notes:</label>
        <input asp-for="Notes" /><br />

        <button type="submit">Submit Movie</button>
    </form>
</div>*@
<div>
    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <h3>Submit a movie</h3>
                <p class="blue-text">Just answer a few questions<br> so we know everything we need to about the movie.</p>
                <div class="card">
                    <h5 class="text-center mb-4">Powering our movie addiction</h5>
                    <form class="form-card" method="post">
                        <div class="row justify-content-between text-left">
                            <div asp-validation-summary="All"></div>
                        </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3" asp-for="CategoryId">Category:<span class="text-danger"> *</span></label>
                                    <select asp-for="CategoryId">
                                        <option value="">Select a Category</option>
                                        @foreach (Category c in ViewBag.Categories)
                                        {
                                            <option value="@c.CategoryId">@c.CategoryName</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3" asp-for="Title">Title:<span class="text-danger"> *</span></label> <input type="text" asp-for="Title" placeholder="Enter the Title"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3" asp-for="Year">Year:<span class="text-danger"> *</span></label> <input type="text" asp-for="Year" placeholder="" onblur="validate(3)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3" asp-for="Director">Director:<span class="text-danger"> *</span></label> <input type="text" asp-for="Director" placeholder=""> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3" asp-for="Rating">Rating:<span class="text-danger"> *</span></label>
                                    <select asp-for="Rating">
                                        <option value="">Select a Rating</option>
                                        <option value="G">G</option>
                                        <option value="PG">PG</option>
                                        <option value="PG-13">PG-13</option>
                                        <option value="R">R</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3" asp-for="Edited">Edited:<span class="text-danger"> *</span></label>
                                    <select asp-for="Edited">
                                        <option value="">Is it edited?</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3" asp-for="LentTo">Lent To:<span class="text-danger"> *</span></label>
                                    <input asp-for="LentTo" />
                                </div>
                            </div>

                            <div class="row justify-content-between text-left">
                                <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3" asp-for="Notes">Notes<span class="text-danger"> *</span></label> <textarea type="text" asp-for="Notes" placeholder=""></textarea> </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary">Submit Movie</button> </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>