@{
    ViewData["Title"] = "My Podcasts";
}
<h1>@ViewData["Title"]</h1>

<p>Watch some pretty cool podcasts at this link below!</p>
<button type="button" class="btn-block btn-primary col-4" onclick="window.location.href='https://baconsale.com/'">Hickory-Smoked Podcasts</button>